{% extends 'base.html.twig' %}

{% block title %}Hello CookieController!{% endblock %}

{% block body %}
<h1>Page cookie</h1>
<p>Name : {{ cookie.name }}</p>
<p>Price : {{ cookie.price }}</p>
<p>Quantity : {{ cookie.quantity }}</p>
{% endblock %}